<div *ngIf="character">

    <h2>{{character.name | uppercase}} Details</h2>
    <img [src]="character.imgUrl" height="150px">
    <div><span>id:</span>{{character.id}}</div>
    <div><span>detail:</span>{{character.detail}}</div>
    <div>
    <label for="character-name">Character name: </label>
    <input id="character-name" ([ngModel])="character.name" placeholder="Character name">
    </div>
    <button (click)="metoda()">
        Add Character
    </button>
    
    <button (click)="goBack()">
        Go Back
    </button>
</div>
